<%-include('./partials/header.ejs')%>
<main>
   <section class="noticia-destaque">
      <div class="center">
         <div class="destaque" style="--img: url(<%-news[0].imagem%>);">
            <div class="text-destaque">
               <span class="category"><%-news[0].categoria%></span>
               <h1><%-news[0].titulo%></h1>
               <p><%-news[0].overview%></p>
               <a href="/noticia/<%-news[0].slug%>" class="linkbutton"><span>Ler mais</span></a>
            </div><!--text-destaque-->
         </div><!--desstaque-->
      </div><!--center-->
   </section><!--noticia-destaque-->

   <section class="outras-noticias">
      <div class="center">
         <h1 class="title-section">Outras Notícias</h1>
         <div class="news">
            <div class="ultimas">
               <%news.forEach((single, index) =>{%>
                  <%if(index != 0){%>
                     <div class="noticia-single">
                        <img src="<%-single.imagem%>" alt="">
                        <div class="text">
                           <span class="category min"><%-single.categoria%></span>
                           <h2 title="<%-single.titulo%>"><%-single.titulo.substr(0,48)%>...</h2>
                           <p><%-single.overview%></p>
                           <a class="linkbutton" href=""><span>Ler mais</span></a>
                        </div><!--text-->
                     </div><!--noticia-single-->
                  <%}%>
               <%})%>
            </div><!--ultimas-->
            <div class="mais-lidas">
               <h2>mais lidas</h2>
               <div class="news-plus">
                  <%plusview.forEach(single =>{%>
                     <div class="card-news">
                        <img src="<%-single.imagem%>" alt="">
                        <div class="text">
                           <h3 title="<%-single.titulo%>"><%-single.titulo.substr(0,35)%>...</h3>
                           <div class="overview"><%-single.overview%></div>
                           <a href="/noticia/<%-single.slug%>" class="linkbutton"><span>ler mais</span></a>
                        </div>
                     </div>
                  <%})%>
               </div>
            </div>
         </div><!--news-->
      </div><!--center-->
   </section><!--outras-noticias-->
</main>
<script src="/js/function.js"></script>
<%-include('./partials/footer.ejs')%>